<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans-4.0.xsd  
         http://www.springframework.org/schema/context
         http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://code.alibabatech.com/schema/dubbo
		http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

	<!-- 引入属性配置文件 -->
	<bean class="base.utils.PropertiesUtil">
		<property name="locations">
			<list>
				<value>${sys.jdbc.config.path}</value>
				<value>${system.config.path}</value>
			</list>
		</property>
		<property name="properties">
			<props>
				<!-- dubbo个性化配置(服务名,端口) -->
				<prop key="dubbo.application.name">${project.artifactId}</prop>
				<!-- 18088 -->
				<!--
				<prop key="dubbo.protocol.port">1${server.port}</prop>
				-->
				<prop key="dubbo.protocol.port">20880</prop>

				<!-- Web端常用数据缓存时间(秒) -->
				<prop key="redis.expiration">1800</prop>
			</props>
		</property>
	</bean>

	<!-- 扫描注解 -->
	<context:component-scan base-package="org.ibase4j">
		<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller" />
		<context:exclude-filter type="annotation" expression="org.springframework.cache.annotation.EnableCaching" />
	</context:component-scan>


	<bean id="applicationEventListener" class="base.listener.XApplicationEventListener"/>

	<!--
	dubbo consumer
	sysProvider
	-->
	<dubbo:reference id="sysProvider" interface="org.ibase4j.provider.ISysProvider" check="false"/>


	<bean id="updateAvailableSavingsCard" class="org.springframework.data.redis.core.script.DefaultRedisScript">
		<property name="location" value="classpath:lua/updateAvailableSavingsCard.lua"/>
		<!--
		<property name="resultType" value="org.meibaobao.ecos.basecomponent.common.Result"/>
		-->
		<property name="resultType" value="java.util.Map"/>
	</bean>
	<bean id="initAvailableSavingsCard" class="org.springframework.data.redis.core.script.DefaultRedisScript">
		<property name="location" value="classpath:lua/initAvailableSavingsCard.lua"/>
		<property name="resultType" value="java.lang.Boolean"/>
	</bean>


	<!-- 引入SPRING配置文件 -->

	<import resource="spring/common-ac-dubbo.xml" />

	<!-- <import resource="spring/common-ac-mq.xml"/> -->

	<import resource="spring/common-ac-redis.xml" />

	<import resource="spring/common-ac-session.xml" />

	<import resource="spring/common-ac-shiro.xml" />

	<import resource="spring/common-ac-datasource.xml"/>

	<!-- <import resource="spring/common-ac-scheduler.xml"/> -->

	<import resource="spring/common-ac-mybatis.xml"/>
</beans>